.headerContainer {
  border-bottom: 2px solid var(--gray-500);
  display: flex;
  max-width: 70%;
  margin: 0 auto;

  .logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    span{
      padding: 0 .2rem;
      display: block;
    }
  }

  button {
    margin-left: auto;
  }
}


.nav {
  margin-left: 50px;

  li {
    list-style: none;
    display: inline-block;
    height: 3.5rem;
    margin:  auto 20px;

    a {
      display: inline-block;
      position: relative;
      text-align: center;
      margin-top: 1rem;
      color: var(--gray-300);
      height: 2.3rem;
      text-decoration: none;
      transition: all 0.5s;

      &:hover {
        color: var(--white);
      }

      &.active::after {
        content: '';
        height: 3px;
        border-radius: 4px 4px 0 0;
        width: 100%;
        bottom: 0.5px;
        position: absolute;
        left: 0;
        background-color: var(--yellow-500);
      }
    }
  }
}