.container {
  display: flex;
  flex-direction: column;

  .image {
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    flex-shrink: 0;
    border: 2px solid var(--gray-500) !important;
  }

  p {
    display: block;
    margin: 2rem auto;
    font-weight: bolder;
    font-size: 1.5rem;
  }
}